<h1 class="ourstory">Book an Appointment</h1>

<form class="" action="index.html" method="post">
  <hr />
  <h3 class="turq">You</h3>
  <hr />
  <br />
  <label>First Name</label><br />
    <input type="text" name="fname" class="textinput"/>

    <br /><br />

  <label>Last Name</label><br />
    <input type="text" name="lname" class="textinput"/>

    <br /><br />

  <label>Email</label><br />
    <input type="text" name="email" class="textinput"/>

    <br /><br />

  <label>Phone Number</label><br />
    <input type="text" name="pnum" class="textinput"/>

    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />


  <hr />
  <h3 class="turq">Your Appointment</h3>
  <hr />

  <br />

  <label>Select a Day</label><br/>
  <date></date>

  <br /><br />

  <label>Select a Time</label><br />
    <select name="select">
      <option>Hour</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
    </select>

    <select name="select">
      <option>Minute</option>
      <option>00</option>
      <option>05</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
      <option>30</option>
      <option>35</option>
      <option>40</option>
      <option>45</option>
      <option>50</option>
      <option>55</option>
    </select>

    <div class="amORpm">
      <label class="timeofday late">AM</label><input type="radio" name="time" value="am" class="radio" checked="checked">
    </div>
    <div class="amORpm">
      <label class="timeofday late">PM</label><input type="radio" name="time" value="pm" class="radio">
    </div>

    <br /><br />
    <br /><br />
    <br /><br />

  <hr />
  <h3 class="turq">Choose Your Services</h3>
  <hr />
  <br />

  <label>Cutting</label><br />

    <div class="eachService">
      <label class="serviceSelect">
      <input type="checkbox" class="servicecheck"/>Women's Cut & Style</label>
    </div>
    <div class="eachService">
      <label class="serviceSelect">
      <input type="checkbox" class="servicecheck"/>Haircut <span class="smallprint">(with any chemical service)</span></label>
    </div>
    <div class="eachService">
      <label class="serviceSelect">
      <input type="checkbox" class="servicecheck"/>Gentleman's Shampoo & Cut</label>
    </div>
    <div class="eachService">
      <label class="serviceSelect">
      <input type="checkbox" class="servicecheck"/>Child's Cut</label>
    </div>

    <br /><br />

  <label>Styling</label><br />

    <div class="eachService">
      <label class="serviceSelect">
      <input type="checkbox" class="servicecheck"/>Shampoo & Blowout</label>
    </div>
    <div class="eachService">
      <label class="serviceSelect">
      <input type="checkbox" class="servicecheck"/>Iron Works <span class="smallprint">(curling & straightening)</span></label>
    </div>
    <div class="eachService">
      <label class="serviceSelect">
      <input type="checkbox" class="servicecheck"/>Formal Style</label>
    </div>

      <br /><br />

    <label>Extensions</label><br />

      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Tape In Extension Application</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Removal of Extensions</label>
      </div>

      <br /><br />

    <label>Color</label><br />

      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Root Touch Up</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>All Over Color</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Gentleman's Color</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Accent Color <span class="smallprint">(12 foils)</span></label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Partial Highlight</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Half Head Highlight</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Full Head Highlight</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Corrective Color</label>
      </div>

      <br /><br />

    <label>Permanents</label><br />

      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Basic Perm</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Spiral Perm</label>
      </div>

      <br /><br />

    <label>Waxing</label><br />

      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Eyebrow Wax</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Lip and Chin Wax</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Underarm Wax</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Bikini Wax</label>
      </div>

      <br /><br />

    <label>Conditioning Treatments</label><br />

      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Redken® Chemistry Shots</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Miracle Hair Max</label>
      </div>

      <br /><br />

    <label>Spa Services</label><br />

      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Indulgent Pedicure</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Gel Polish Pedicure</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Traditional Manicure</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Gel Polish Manicure</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Design Add-On</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Polish Change</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Eyelash Extension Application</label>
      </div>
      <div class="eachService">
        <label class="serviceSelect">
        <input type="checkbox" class="servicecheck"/>Eyelash Extension Fill</label>
      </div>

      <br /><br /><br /><br /><br /><br />

      <input type="submit" name="Submit" class="submit">

  <br /><br />
  <br /><br />

</form>
<br /><br /><br /><br /><br /><br />
