<h1 class="ourstory">Services</h1>

<table>
  <thead>
    <th class="service title">
      Cutting
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Women's Haircut & Style</td>
      <td class="price top">$25</td>
    </tr>
    <tr>
      <td class="service">Haircut (with any chemical service)</td>
      <td class="price">$18</td>
    </tr>
    <tr>
      <td class="service">Gentleman's Shampoo & Cut</td>
      <td class="price">$15</td>
    </tr>
    <tr>
      <td class="service bottom">Child's Cut</td>
      <td class="price bottom">$12</td>
    </tr>
  </tbody>
</table>

<br /><br />

<table>
  <thead>
    <th class="service title">
      Styling
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Shampoo & Blowout</td>
      <td class="price top">$15</td>
    </tr>
    <tr>
      <td class="service">Iron Works (Curling or Straightening)</td>
      <td class="price">$10</td>
    </tr>
    <tr>
      <td class="service bottom">Formal Style</td>
      <td class="price bottom">$35</td>
    </tr>
  </tbody>
</table>

<br /><br />

<table>
  <thead>
    <th class="service title">
      Extensions*
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Tape In Extension Application<br />(includes tape)</td>
      <td class="price top">$75/hr</td>
    </tr>
    <tr>
      <td class="service bottom">Removal of Extensions</td>
      <td class="price bottom">$30</td>
    </tr>
    <tr class="asterisk service bottom">
      <td colspan="2">*Consultation required prior to extension application.</td>
    </tr>
  </tbody>
</table>
<!-- <p class="asterisk">*Consultation required prior to extension application.</p> -->

<br /><br />

<table>
  <thead>
    <th class="service title">
      Color*
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Root Touch Up</td>
      <td class="price top">$30</td>
    </tr>
    <tr>
      <td class="service">All Over Color</td>
      <td class="price">$55</td>
    </tr>
    <tr>
      <td class="service">Gentleman's Color</td>
      <td class="price">$25</td>
    </tr>
    <tr>
      <td class="service">Accent Color (12 foils)</td>
      <td class="price">$25</td>
    </tr>
    <tr>
      <td class="service">Partial Highlight</td>
      <td class="price">$45</td>
    </tr>
    <tr>
      <td class="service">Half Head Highlight</td>
      <td class="price">$55</td>
    </tr>
    <tr>
      <td class="service">Full Head Highlight</td>
      <td class="price">$65</td>
    </tr>
    <tr>
      <td class="service bottom">Corrective Color</td>
      <td class="price bottom">$95</td>
    </tr>
    <tr class="asterisk service bottom">
      <td colspan="2">*Prices may vary due to hair length and/or density.</td>
    </tr>
  </tbody>
</table>
<!-- <p class="asterisk">*Prices may vary due to hair length and/or density.</p> -->

<br /><br />

<table>
  <thead>
    <th class="service title">
      Permanents
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Basic Perm</td>
      <td class="price top">$60</td>
    </tr>
    <tr>
      <td class="service bottom">Spiral Perm</td>
      <td class="price bottom">$85</td>
    </tr>
  </tbody>
</table>

<br /><br />

<table>
  <thead>
    <th class="service title">
      Waxing
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Eyebrow Wax</td>
      <td class="price top">$10</td>
    </tr>
    <tr>
      <td class="service">Lip or Chin Wax</td>
      <td class="price">$6</td>
    </tr>
    <tr>
      <td class="service">Underarm Wax</td>
      <td class="price">$20</td>
    </tr>
    <tr>
      <td class="service bottom">Bikini Wax</td>
      <td class="price bottom">$40</td>
    </tr>
  </tbody>
</table>

<br /><br />

<table>
  <thead>
    <th class="service title">
      Conditioning Treatments
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Redken® Chemistry Shots</td>
      <td class="price top">$18</td>
    </tr>
    <tr>
      <td class="service bottom">Miracle Hair Mask</td>
      <td class="price bottom">$25</td>
    </tr>
  </tbody>
</table>

<br /><br />

<table>
  <thead>
    <th class="service title">
      Spa Services
    </th>
    <th class="price title">
      Price
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="service top">Indulgent Pedicure</td>
      <td class="price top">$30</td>
    </tr>
    <tr>
      <td class="service">Gel Polish Pedicure</td>
      <td class="price">$40</td>
    </tr>
    <tr>
      <td class="service">Traditional Manicure</td>
      <td class="price">$20</td>
    </tr>
    <tr>
      <td class="service">Gel Polish Manicure</td>
      <td class="price">$25</td>
    </tr>
    <tr>
      <td class="service">Design Add-On</td>
      <td class="price">$5</td>
    </tr>
    <tr>
      <td class="service">Polish Change</td>
      <td class="price">$10</td>
    </tr>
    <tr>
      <td class="service">Eyelash Extension Application</td>
      <td class="price">$50</td>
    </tr>
    <tr>
      <td class="service bottom">Eyelash Extension Fill</td>
      <td class="price bottom">$30</td>
    </tr>
  </tbody>
</table>


<br /><br /><br /><br /><br /><br />
