<h1 class="ourstory">Contact Us</h1>
<!--
<div class="row">
  <img src="images/salon.png" id="salon" />
</div> -->

<hr class="contacthr"/>
<br />
<div class="row">
  <h4>(208) 305–5462</h4>
  <h4>info@lavishsalonoldtown.com</h4>
  <h4>54A Selkirk Way, Oldtown ID 83822</h4>
</div>
<br />

<hr class="contacthr"/>
<br /><br />

<div>
  <a href="https://www.google.com/maps/dir//54+Selkirk+Way,+Oldtown,+ID+83822/@48.188345,-117.0317104,17z/data=!4m16!1m7!3m6!1s0x5362246b27508897:0xc57d6245c439559c!2s54+Selkirk+Way,+Oldtown,+ID+83822!3b1!8m2!3d48.188345!4d-117.029521!4m7!1m0!1m5!1m1!1s0x5362246b27508897:0xc57d6245c439559c!2m2!1d-117.0295217!2d48.188345">
    <img id="map" src="https://maps.googleapis.com/maps/api/staticmap?center=Oldtown,ID&zoom=13&size=980x400&maptype=roadmap&markers=color:red%7Clabel:LS%7C48.188355,-117.029522&key=AIzaSyDnQKIf5Ywi1z1ZWEliRp96qzcKERS3wyU" alt="Lavish Salon" />
  </a>
</div>

<br /><br /><br /><br /><br /><br />

<!-- <contactMap></contactMap> -->
<!-- <div id="map" ng-controller="myMap">
  <img ng-src="{{imgurl}}" />
  48.188355, -117.029522
</div> -->
