<div class="row">
  <br class="noshowdesktop"/>
  <div class="logo-art-wrapper-top">
    <img src="images/lavish_logo_blk_icon_upside.png" id="topart" />
  </div>
      <br class="noshowdesktop"/><p class="desktopIntro"><span id="pampered">Prepare to be pampered.</span><br /><br class="noshowmobile"/><br class="noshowmobile"/>At Lavish Salon, we specialize in treating our customers like royalty; when you're here, you receive 100% of our focus and care. We understand the importance of looking your best; your hair is a reflection of who you are, and when you walk out of Lavish Salon, know that you will feel confident in your new look!</p>
    <slider></slider>
    <!-- <div class="buttonWrapper"> -->
      <!-- <div class="firstRow"> -->
        <!-- <a href="/#/ourstory"><button class="desktopButton"><strong>Learn More About Us</strong></button></a>
        <a href="/#/contact"><button class="desktopButton"><strong>Come Visit Us</strong></button></a> -->
      <!-- </div>
      <div class="secondRow"> -->
        <!-- <a href="/#/book"><button class="desktopButton"><strong>Book An Appointment Online</strong></button></a>
        <a href="/#/services"><button class="desktopButton"><strong>View A List Of Our Services</strong></button></a> -->
      <!-- </div> -->
    <!-- </div> -->
    <div class="logo-art-wrapper noshowmobile">
      <img src="images/lavish_logo_blk_icon.png" alt="" />
    </div>

</div>
