<h1 class="ourstory" id="ourstorytitle">Our Story</h1>

<div class="row">
  <img src="images/IMG_0785.JPG" id="ourstorypic"/>
</div>

<br />

<img src="images/lavish_logo_blk_icon_upside.png" id="storyarttop" />

<div class="row">
  <p class="about">i iz cute?! much full. much lorem. plz design. wow. want lorem, i can haz text. wow! such sit! very doge. oh my amet, need adipiscing. oh my full! want word! such full, much word, very ipsum, go doge! oh my full! i iz cute?, oh my full! go design! wow. much swag, plz mattis! need adipiscing. plz design. such sit! very ipsum, plz design. wow. very doge. very layout! such layout! so doge. very doge. such full, much full. wow! wow! so layout, go design! such full, many aenean! many text, much full. very doge. txt me! such full, many text, much dolor, wow! so doge. so layout, want text. very doge. need adipiscing. very doge. so layout, wow! yes master doge. </p>
</div>

<img src="images/lavish_logo_blk_icon.png" id="storyart" />

<br /><br /><br /><br />
