<h1 class="ourstory" id="ourstorytitle">Our Story</h1>

<div class="row">
  <img src="images/IMG_0785.JPG" id="ourstorypic"/>
</div>

<br />

<img src="images/lavish_logo_blk_icon_upside.png" id="storyarttop" />

<div class="row">
  <p class="about">
    Amanda Johnson owns and operates Lavish Salon in Oldtown, Idaho. She has been working in the cosmetology field for 3 years, after graduating from Toni & Guy Hairdressing Academy. Amanda has a natural artistic eye for beauty and her work with hair is unparalleled. Lavish Salon is her dream, and she enjoys helping her clients look their very best. Amanda also loves spending time with her handsome son Brogan, and her loving husband Connor in the natural magnificence of the Pacific Northwest.
  </p>
</div>

<img src="images/lavish_logo_blk_icon.png" id="storyart" />

<br /><br /><br /><br />
