#view-client-name {
  margin-bottom: 0.5em;
}

#view-client-service {
  font-style: italic;
  margin-bottom: 2em;
}

#view-dialog {
  z-index: 99;
}

.editEvent {
	background-color: #78D5D7;
	width: 45%;
	float: left;
	border: none;
}

#editEvent, #close, #youaresure_delete, #deleteEvent, #close_delete, #editEventButton, #close_edit, #addEvent, #cancel {
  font-size: 2em;
}

#addEvent, #cancel, #editEventButton, #close_edit {
  margin-top: 2em;
  margin-bottom: 3em;
}

#client_name, #starttime_hr, #starttime_min, #endtime_hr, #endtime_min, #services, #client_name_edit, #edit-client-date, #edit_starttime_hr, #edit_starttime_min, #edit_endtime_hr, #edit_endtime_min, #edit_services {
  font-size: 2em;
}

.dialogLabel {
  font-size: 3em;
  margin-top: 0.5em;
}

.dialogTitle {
  font-size: 4em;
}

#youaresure_delete {
  margin-bottom: 2em;
}

#deleteEvent, #close_delete {
  margin-top: 2em;
  margin-bottom: 2em;
}

.deleteEvent {
  background-color: #FAF8D4;
  width: 100%;
  margin: 0 auto;
  float: left;
  border: none;
}

.view-client {
  width: 80%;
  margin: 0 auto;
}

.red {
  color: rgb(255, 150, 150);
  text-align: center;
  font-size: 4em;
}

#newDialog-form {
  z-index: 1000;
}

button .fc-agendaWeek-button .fc-button .fc-state-default .fc-state-active .fc-button-group{
	z-index: 0;
}
