<h1 class="adminlogin">Admin Login</h1>

<form ng-controller="controller as c" class="loginform">

  <label>Username</label>
    <input class="logininput" type="text" name="username" ng-model="c.user"/>

    <br />

  <label>Password</label>
    <input class="logininput" type="password" name="password" ng-model="c.password"/>

    <br /><br />

    <input type="submit" id="adminbuttonlogin" name="login" class="submit login" value="Log In" ng-click="c.auth(c.user, c.password, '/welcome')"/>

    <p id="wronglogin">{{ c.message }}</p>

</form>
