<div id='calendar'></div>

<!-- <div id='external-events'>
  	<h4>Draggable Events</h4>
  	<div class='fc-event'>New Event</div>
  	<p>
    	x
  	</p>
</div>
<div id='calendar'></div> -->


<div id="dialog" title="Add an Appointment">
  <form>
    <br />
    <h1 class="dialogLabel dialogTitle">Add an Appointment</h1>
    <label class="dialogLabel">Client Name</label><br />
      <input type="text" id="clientName"/><br /><br />

    <label class="dialogLabel">Start Time:</label><br />
      <input type="text" id="startTime"/><br /><br />

    <label class="dialogLabel">End Time: </label><br />
      <input type="text" id="endTime"/><br /><br />

    <label class="dialogLabel">Services Requested:</label><br />
      <input type="text" id="serviceList"/><br /><br /><br /><br />

    <input type="submit" value="Add Event" class="addEvent" id="addEvent"/>
    <input type="submit" value="Cancel" class="cancel" id="cancel"/>
    <br /><br /><br /><br />

    <p id="fillOutFields">*Please fill out all fields</p>
  </form>

</div>
