<div id="calendar"></div>



<div id="dialog" title="Add an Appointment">
  <form id="newDialog-form" name="addAppt">
    <br />
    <h1 class="dialogLabel dialogTitle">Add an Appointment</h1>

    <label class="dialogLabel">Client Name</label><br />
      <input type="text" id="client_name" name="client_name" ng-model="currentCalendarEvent.client_name" required/><br /><br />


      <label class="dialogLabel">Select Start Time:</label><br />
        <select name="hour" id="starttime_hr" ng-model="currentCalendarEvent.starttime_hr" required>
          <option value="">Hour</option>
          <option value="T08:">08</option>
          <option value="T09:">09</option>
          <option value="T10:">10</option>
          <option value="T11:">11</option>
          <option value="T12:">Noon</option>
          <option value="T13:">01</option>
          <option value="T14:">02</option>
          <option value="T15:">03</option>
          <option value="T16:">04</option>
          <option value="T17:">05</option>
          <option value="T18:">06</option>
        </select>

        <select name="minute" id="starttime_min" ng-model="currentCalendarEvent.starttime_min" required>
          <option value="">Minute</option>
          <option value="00:00">00</option>
          <option value="05:00">05</option>
          <option value="10:00">10</option>
          <option value="15:00">15</option>
          <option value="20:00">20</option>
          <option value="25:00">25</option>
          <option value="30:00">30</option>
          <option value="35:00">35</option>
          <option value="40:00">40</option>
          <option value="45:00">45</option>
          <option value="50:00">50</option>
          <option value="55:00">55</option>
        </select><br /><br />


    <label class="dialogLabel">Select End Time:</label><br />
      <select name="hour" id="endtime_hr" ng-model="currentCalendarEvent.endtime_hr" required>
        <option value="">Hour</option>
        <option value="T08:">08</option>
        <option value="T09:">09</option>
        <option value="T10:">10</option>
        <option value="T11:">11</option>
        <option value="T12:">Noon</option>
        <option value="T13:">01</option>
        <option value="T14:">02</option>
        <option value="T15:">03</option>
        <option value="T16:">04</option>
        <option value="T17:">05</option>
        <option value="T18:">06</option>
      </select>

      <select name="minute" id="endtime_min" ng-model="currentCalendarEvent.endtime_min" required>
        <option value="">Minute</option>
        <option value="00:00">00</option>
        <option value="05:00">05</option>
        <option value="10:00">10</option>
        <option value="15:00">15</option>
        <option value="20:00">20</option>
        <option value="25:00">25</option>
        <option value="30:00">30</option>
        <option value="35:00">35</option>
        <option value="40:00">40</option>
        <option value="45:00">45</option>
        <option value="50:00">50</option>
        <option value="55:00">55</option>
      </select><br /><br />


    <!-- <label class="dialogLabel">End Time: </label><br />
      <input type="text" id="endtime" name="endtime"/><br /><br /> -->

    <label class="dialogLabel">Services Requested:</label><br />
      <input type="text" id="services" name="services" ng-model="currentCalendarEvent.services"/><br /><br /><br /><br />

    <input type="submit" value="Add Event" class="addEvent" id="addEvent" ng-click="addNewEventHandler()" ng-disabled="addAppt.$invalid"/>
    <input type="submit" value="Cancel" class="cancel" id="cancel" ng-click="closeAddEventHandler()" disabled/>
    <!-- <input ng-init="click=0" type="submit" value="Cancel" class="cancel" id="cancel" ng-click="click = click + 1"/>
    {{click}} -->
    <br /><br /><br /><br />

    <p id="fillOutFields">*Please fill out all fields</p>
  </form>

</div>

<div id="view-dialog" title="">
  <div class="view-client">
    <h1 id="view-client-name">{{ currentCalendarEvent.title }}</h1>
    <hr /><br />
    <h4 id="view-client-date">{{ currentCalendarEvent.date }}</h4>
    <h4><span id="view-client-starttime">{{ currentCalendarEvent.justtimestart }}</span> – <span id="view-client-endtime">{{ currentCalendarEvent.justtimeend }}</span></h4>
    <h4 id="view-client-service">{{ currentCalendarEvent.services }}</h4>

    <input type="submit" value="Edit Event" class="editEvent" id="editEvent" ng-click="editEventHandler()" disabled/>
    <input type="submit" value="Cancel" class="cancel" id="close" ng-click="closeViewEventHandler()"/>
    <br /><br />
    <input type="submit" value="Delete Event" class="deleteEvent" id="youaresure_delete" />
    <br /><br /><br /><br />
  </div>
</div>

<div id="edit-dialog" title="Edit Appointment">
  <form id="editDialog-form">
    <br />
    <h1 class="dialogLabel dialogTitle">Edit Appointment</h1>
    <label class="dialogLabel">Client Name</label><br />
      <input type="text" id="client_name_edit" name="client_name_edit" ng-model="currentCalendarEvent.client_name" ng-value="currentCalendarEvent.title"/><br /><br />

    <label class="dialogLabel">Date:</label><br />
      <input type="text" id="edit-client-date" name="edit-client-date" ng-model="currentCalendarEvent.date"/><br /><br />


      <label class="dialogLabel">Select Start Time:</label><br />
        <select name="edit_starttime_hr" id="edit_starttime_hr" ng-model="currentCalendarEvent.starttime_hr">
          <option value="">Hour</option>
          <option value="T08:">08</option>
          <option value="T09:">09</option>
          <option value="T10:">10</option>
          <option value="T11:">11</option>
          <option value="T12:">Noon</option>
          <option value="T13:">01</option>
          <option value="T14:">02</option>
          <option value="T15:">03</option>
          <option value="T16:">04</option>
          <option value="T17:">05</option>
          <option value="T18:">06</option>
        </select>

        <select name="edit_starttime_min" id="edit_starttime_min" ng-model="currentCalendarEvent.starttime_min">
          <option value="">Minute</option>
          <option value="00:00">00</option>
          <option value="05:00">05</option>
          <option value="10:00">10</option>
          <option value="15:00">15</option>
          <option value="20:00">20</option>
          <option value="25:00">25</option>
          <option value="30:00">30</option>
          <option value="35:00">35</option>
          <option value="40:00">40</option>
          <option value="45:00">45</option>
          <option value="50:00">50</option>
          <option value="55:00">55</option>
        </select><br /><br />


    <label class="dialogLabel">Select End Time:</label><br />
      <select name="hour" id="edit_endtime_hr" ng-model="currentCalendarEvent.endtime_hr">
        <option value="">Hour</option>
        <option value="T08:">08</option>
        <option value="T09:">09</option>
        <option value="T10:">10</option>
        <option value="T11:">11</option>
        <option value="T12:">Noon</option>
        <option value="T13:">01</option>
        <option value="T14:">02</option>
        <option value="T15:">03</option>
        <option value="T16:">04</option>
        <option value="T17:">05</option>
        <option value="T18:">06</option>
      </select>

      <select name="minute" id="edit_endtime_min" ng-model="currentCalendarEvent.endtime_min">
        <option value="">Minute</option>
        <option value="00:00">00</option>
        <option value="05:00">05</option>
        <option value="10:00">10</option>
        <option value="15:00">15</option>
        <option value="20:00">20</option>
        <option value="25:00">25</option>
        <option value="30:00">30</option>
        <option value="35:00">35</option>
        <option value="40:00">40</option>
        <option value="45:00">45</option>
        <option value="50:00">50</option>
        <option value="55:00">55</option>
      </select><br /><br />

    <label class="dialogLabel">Services Requested:</label><br />
      <input type="text" id="edit_services" name="services" value="{{ currentCalendarEvent.services }}" ng-model="currentCalendarEvent.services"/><br /><br /><br /><br />

    <input type="submit" value="Update Event" class="addEvent" id="editEventButton" ng-click="actuallyEditEventHandler()"/>
    <input type="submit" value="Cancel" class="cancel" id="close_edit" ng-click="closeEditEventHandler()"/>
    <br /><br /><br /><br />

    <!-- <p id="fillOutFields">*Please fill out all fields</p> -->
  </form>

</div>


<div id="areyousure-dialog" title="">
  <div class="view-client">

    <h4 class="red">Are you sure you want to delete this event??</h4>

    <!-- <input type="submit" value="Delete Event" class="deleteEvent" id="deleteEvent" /> -->
    <input type="submit" value="Delete Event" class="editEvent" id="deleteEvent" ng-click="deleteEventHandler()"/>
    <input type="submit" value="Cancel" class="cancel" id="close_delete" ng-click="closeDeleteEventHandler()"/>
    <br /><br /><br /><br />
  </div>
</div>
